<div class="my-carusel">
    <div class="my-carusel__item" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUNqsGgYtuXu07OmmyPLd9JMOKLCp4cLJnJw&usqp=CAU" alt="rest">
        <p>{{theme_settings.my-carusel-content}}</p>
    </div>
    <div class="my-carusel__item" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUNqsGgYtuXu07OmmyPLd9JMOKLCp4cLJnJw&usqp=CAU" alt="rest">
        <p>{{theme_settings.my-carusel-content}}</p>
    </div>
    <div class="my-carusel__item" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUNqsGgYtuXu07OmmyPLd9JMOKLCp4cLJnJw&usqp=CAU" alt="rest">
        <p>{{theme_settings.my-carusel-content}}</p>
    </div>
    <div class="my-carusel__item" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUNqsGgYtuXu07OmmyPLd9JMOKLCp4cLJnJw&usqp=CAU" alt="rest">
        <p>{{theme_settings.my-carusel-content}}</p>
    </div>
    <div class="my-carusel__item" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUNqsGgYtuXu07OmmyPLd9JMOKLCp4cLJnJw&usqp=CAU" alt="rest">
        <p>{{theme_settings.my-carusel-content}}</p>
    </div>
    <div class="my-carusel__item" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUNqsGgYtuXu07OmmyPLd9JMOKLCp4cLJnJw&usqp=CAU" alt="rest">
        <p>{{theme_settings.my-carusel-content}}</p>
    </div>
    <div class="my-carusel__item" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUNqsGgYtuXu07OmmyPLd9JMOKLCp4cLJnJw&usqp=CAU" alt="rest">
        <p>{{theme_settings.my-carusel-content}}</p>
    </div>
</div>