<ul class="navPages-list navPages-mega navPages-mainNav">
    {{#each categories}}
        <li class="navPages-item">
            {{> components/common/navigation-list}}
        </li>
    {{/each}}
    {{#if theme_settings.show_content_navigation}}
        {{#each pages}}
            <li class="navPages-item{{#if @index '===' 0}} navPages-item--content-first{{/if}}">
                {{#if ../theme_settings.navigation_design '===' 'simple'}}
                    {{> components/common/navigation-list-alternate}}
                {{/if}}
                {{#if ../theme_settings.navigation_design '===' 'mega'}}
                    {{> components/common/navigation-list}}
                {{/if}}
            </li>
         {{/each}}
    {{/if}}
</ul>


